/* =========================================================
   MOBILE FIRST (320px+)
   ========================================================= */

.pageWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  box-sizing: border-box;
}

.authCard {
  background-color: var(--bg-surface);
  border-radius: 30px;
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
}

.cardHeader {
  margin-bottom: 40px;
}

.logoWrapper {
  display: inline-flex;
  align-items: center;
}

.logoMobile {
  display: block;
  width: 42px;
  height: 17px;
  fill: var(--text-main);
}

.logoTablet {
  display: none;
}

.title {
  font-family: var(--font-main);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: var(--text-main);
  margin-bottom: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.heroCard {
  background-color: var(--bg-surface);
  border-radius: 30px;
  padding: 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  max-width: 255px;
  height: auto;
  display: block;
  object-fit: contain;
}

/* =========================================================
   TABLET (768px - 1279px)
   ========================================================= */
@media screen and (min-width: 768px) {
  .pageWrapper {
    padding: 32px 0;
    flex-direction: row;
  }

  .authCard {
    padding: 40px 64px 64px;
  }

  .cardHeader {
    margin-bottom: 80px;
  }

  .logoMobile {
    display: none;
  }

  .logoTablet {
    display: block;
    width: 182px;
    height: 17px;
    fill: var(--text-main);
  }

  .title {
    font-size: 64px;
    line-height: 1.02;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    max-width: 444px;
    width: 100%;
  }

  .formContainer {
    max-width: 472px;
    width: 100%;
  }

  .heroCard {
    display: none;
  }
}

/* =========================================================
   DESKTOP (1280px+)
   ========================================================= */
@media screen and (min-width: 1440px) {
  .pageWrapper {
    display: grid;
    grid-template-columns: 600px 1fr;
    gap: 16px;

    /* width: 100%;
    max-width: 1440px;
    margin: 0 auto; */

    /* align-items: stretch; */
    justify-content: space-between;
  }

  .heroCard {
    padding: 80px 98px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .heroImage {
    max-width: 405px;
    width: 100%;
    height: auto;
    max-height: 100%; /* Картинка пропорційно зменшиться, якщо екран низький */
    display: block;
  }
}
